    .container{
        position: relative;    
        }
   .videoPlayer {
        
        position: absolute;
        top:20px;
        left:20px;
        height: 300px;
        width: 700px;
  }
  .video{
        border: 1px solid black;
        position: absolute;
        top:40px;
        left: 40px;
        height: inherit;
        width:inherit;

  }
    .videoList{
      position: absolute;
      display: inline;
      top:362px;
      left:60px;

  }
 .videoList li {
      display: inline;
      height: 30px;
      width: 30px;
      cursor: pointer;
  }
  img {
      position: relative;
      height: 150px;
      width: 140px;
      word-wrap: break-word;
  }
  .title {
      position: absolute;
      color:white;
      word-wrap: break-word;
      z-index: 1;
      top:100px;
  }
